.section-5 {
  height: 73.1rem;
  width: 100%;
  background-image: url("../img/bg-s-5.png");
  background-size: cover;
  background-position: center;
  padding: 12rem 18.3%;
  h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto 9.4rem auto;
  }
  .container-flex {
    height: 28.4rem;
    article {
      background-color: rgb(51, 51, 51);
      padding: 4.5rem 5.4rem 4.5rem 5.4rem;
      h4 {
        margin-bottom: 3rem;
      }
      h5 {
        .quote {
          margin-right: 1rem;
          color: rgb(84, 116, 253);
          font-size: 3.5rem;
          font-family: Ale;
        }
      }
    }
  }
}