.title {
  color: rgba(255, 255, 255, 255);
  text-align: center;
  h1 {
    text-transform: uppercase;
    font-family: JosefinSans-Bold;
  }
  h4 {
    text-transform: capitalize;
    font-family: JosefinSans-Thin;
    text-align: center;
  }
}
.wrapper {
  display: flex;
  max-width: 1110px;
  margin: auto;
  
}
h2 {
  text-align: left;
  text-transform: capitalize;
  font-size: 3.6rem;
  line-height: 2.6rem;
  color: rgb(255, 255, 255);
  font-family: Aleo-Regular;
  margin-bottom: 6rem;
}
h4 {
  text-align: left;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.6rem;
  color: rgb(255, 255, 255);
  font-family: JosefinSans-Thin;
}
h5 {
  letter-spacing: 0.5px;
  text-align: left;
  width: 100%;
  
  line-height: 2.6rem;
  color: rgb(232, 232, 232);
  font-family: JosefinSans-Thin;
  margin-bottom: 4.8rem;


}
